.state-park-container {
  /* border: 2px solid red; */
  min-height: 75vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(238, 236, 236);
}

.single-park-container {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
}

.stateName {
  background-color: #908e7d;
}

.stateName h1 {
  margin: 0;
  padding: 25px;
}

/* Extra Small devices 599px and down) */
@media only screen and (max-width: 599px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
