.park-details-container {
  font-family: Arial, Helvetica, sans-serif;
}

.park-container {
  /* border: 2px solid red; */
  text-align: left;
  margin: 20px auto;
  padding: 10px 0px 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* /* -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 20px 23px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0); */
}

.park-info {
  /* border: 2px solid blue; */
  width: 60%;
}

.park-info p img {
  width: 20px;
  height: auto;
  margin: 0 5px;
}

.park-info h3 {
  margin: 8px auto;
  color: #3481b9;
}

.park-info h5 {
  margin: 3px auto;
}

.park-info p {
  margin: 8px auto;
}

.photo-container {
  margin: auto 0 auto 0;
}

.photo-container img {
  width: 300px;
  height: 300px;
  max-height: 250px;
}

.bottom-border {
  width: 60%;
  margin: 0 auto;
  border-bottom: 1px solid black;
}

.carousel-container {
  width: 300px;
  height: 300px;
}

.no-images {
  text-align: center;
}

.activity-list {
  margin: 0;
}

.favorite-icons {
  display: flex;
  justify-content: left;
  width: 100%;
  height: 20px;
}

.favorite-icons p {
  margin: auto 5px;
}
.favorite-icons p img {
  margin: 2px;
}

.success-message {
  opacity: 0.9;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  position: relative;
}

#add-fav {
  background-color: #00c851;
}

#remove-fav {
  background-color: #ff4444;
}

/* Extra Small devices 599px and down) */
@media only screen and (max-width: 599px) {
  .park-container {
    /* border: 2px solid red; */
    width: 100%;
    margin: 15px 0;
    padding: 0;
    flex-direction: column-reverse;
    /* align-items: center; */
    /* /* -webkit-box-shadow: 0px 10px 13px -7px #000000,
      5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 20px 23px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0); */
  }

  .park-info {
    /* border: 2px solid blue; */
    width: 100%;
    margin-top: 10px;
  }

  .more-details {
    text-align: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .park-container {
    /* border: 2px solid red; */
    width: 100%;
    margin: 10px 0;
    padding: 0;
    align-items: center;
  }

  .park-info {
    /* border: 2px solid blue; */
    width: 100%;
    margin-right: 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .park-details-container {
    margin: 20px auto;
    padding: 10px;
    box-shadow: 0px 5px 5px -2px #000000, 5px 5px 5px 5px rgba(0, 0, 0, 0);
  }

  .park-container {
    /* border: 2px solid red; */
    width: 80%;
    margin: 20px auto;
  }

  .bottom-border {
    width: 60%;
    margin: 0 auto;
    border-bottom: 0px solid black;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
