/* .us-vector-map {
  margin: "1rem auto";
  width: "50%";
} */

.nps-landing-container {
  /* border: 2px solid red; */
  height: 75vh;
  width: 100%;
  background-image: url("https://www.nps.gov/common/uploads/structured_data/3C7CE386-1DD8-B71B-0B14D302825B96CF.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  /* border: 2px solid green; */
  font-size: 50px;
  text-shadow: 0 0 3px #000, 0 0 5px #7d7d7e;
  color: white;
}

.nps-input-container {
  /* border: 2px solid green; */

  width: 100%;
  height: 20vh;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.nps-input-container h1 {
  margin: 0;
}

.nps-input-container a {
  /* border: 2px solid yellow; */
  color: white;
}

/* Extra Small devices 599px and down) */
@media only screen and (max-width: 599px) {
  .nps-input-container form select {
    /* border: 2px solid orange; */
    width: 80%;
    border-radius: 5px;
    height: 5vh;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .nps-input-container form select {
    width: 60%;
    border-radius: 5px;
    height: 5vh;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .nps-input-container form select {
    width: 30%;
    border-radius: 5px;
    height: 5vh;
    text-align: center;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
